<div class="blog-nav">
  {% if paginator.previous_page != null  %}
  <div class="blog-prev">
    {% if paginator.previous_page == 1 %}
    <a class="small" href="/">Newer &gt;&gt;</a>
    {% else %}
    <a class="small" href="/page{{paginator.previous_page}}">Newer &gt;&gt;</a>
    {% endif %}
  </div>
  {% endif %}
  {% if paginator.next_page != null %}
  <div class="blog-next">
    <a class="small" href="/page{{ paginator.next_page }}">&lt;&lt; Older</a>
  </div>
  {% endif %}
  <hr />
</div>
