<div class="google-ads">
<style>
.abhidsm { width: 320px; height: 50px; }
@media(min-width: 500px) { .abhidsm { width: 468px; height: 60px; } }
@media(min-width: 800px) { .abhidsm { width: 728px; height: 90px; } }
</style>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- abhidsm -->
<ins class="adsbygoogle abhidsm"
     style="display:inline-block"
     data-ad-client="ca-pub-3366345003894072"
     data-ad-slot="3593313980"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
