<div class="share-this">
<span  class='st_email_hcount' displayText='Email' st_url="http://abhidsm.github.com{{ post.url }}" st_title="{{ post.title }}"></span>
<span  class='st_twitter_hcount' displayText='Tweet' st_url="http://abhidsm.github.com{{ post.url }}" st_title="{{ post.title }} #abhidsm"></span>
<span  class='st_facebook_hcount' displayText='Facebook' st_url="http://abhidsm.github.com{{ post.url }}" st_title="{{ post.title }}"></span>
<span  class='st_fblike_hcount' st_url="http://abhidsm.github.com/\{{ post.url }}" st_title="{{ post.title }}"></span>
<span  class='st_plusone_hcount' st_url="http://abhidsm.github.com{{ post.url }}" st_title="{{ post.title }}"></span>
</div>
